# Welcome to Jupyter!

- The following 2 cells are required starter code for you to run your sql
- Further down, you'll find syntax to run SQL in Jupyter

In [ ]:
%load_ext sql

- this is loading ipython sql. If you haven't installed it. You need to do that first and then re-run.

In [49]:
%sql postgresql://localhost/database_name

- This tells Jupyter where our psql database is by pointing it to our localhost and our database name

## That's It! Now We're ready to write SQL

- Every query you write must begin with:
`%%sql`
- This tells Jupyter that you're writing SQL.
- Jupyter allows for multiple langauges, including Python, so it needs to know what we want to run.

In [ ]:
%%sql

SELECT * 
FROM database_name
LIMIT 5;

## Table and Database Queries

- This syntax will allow you to access column data from a specific table
- Note, in the where statement, the table name value must be in quotes ''.

In [ ]:
%%sql
SELECT
   table_name, 
   column_name, 
   data_type 
FROM
   information_schema.columns
WHERE
   table_name = 'table_name';

- This syntax will allow you to access the tables in your connected database.

In [ ]:
%%sql
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname = 'public'